# **Olympic Medal Prediction**

## Importing Libraries

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix,accuracy_score

from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

import tensorflow as tf
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB

## Reading Dataset

In [2]:
data = pd.read_csv('/content/athlete_events.csv')

In [3]:
data

            ID  ... Medal
0            1  ...   NaN
1            2  ...   NaN
2            3  ...   NaN
3            4  ...  Gold
4            5  ...   NaN
...        ...  ...   ...
271111  135569  ...   NaN
271112  135570  ...   NaN
271113  135570  ...   NaN
271114  135571  ...   NaN
271115  135571  ...   NaN

[271116 rows x 15 columns]

## Data Inspecting and Cleaning

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [5]:
data.shape

(271116, 15)

In [6]:
data['Medal'].value_counts()

Gold      13372
Bronze    13295
Silver    13116
Name: Medal, dtype: int64

In [7]:
data['Team'].value_counts()

United States     17847
France            11988
Great Britain     11404
Italy             10260
Germany            9326
                  ...
Carabinier-15         1
Mistral Hojris        1
Mignon-29             1
Calimucho             1
Konstanz              1
Name: Team, Length: 1184, dtype: int64

In [8]:
# To fill missing values in Medal column
data['Medal'] = data['Medal'].apply(lambda x: 1 if str(x) != 'nan' else 0)

In [9]:
data

            ID  ... Medal
0            1  ...     0
1            2  ...     0
2            3  ...     0
3            4  ...     1
4            5  ...     0
...        ...  ...   ...
271111  135569  ...     0
271112  135570  ...     0
271113  135570  ...     0
271114  135571  ...     0
271115  135571  ...     0

[271116 rows x 15 columns]

In [10]:
# Drop Uncessary columns
data = data.drop(['ID', 'Name', 'Games'], axis=1)

In [11]:
# Checking null values in the data 
data.isna().mean()

Sex       0.000000
Age       0.034944
Height    0.221938
Weight    0.231912
Team      0.000000
NOC       0.000000
Year      0.000000
Season    0.000000
City      0.000000
Sport     0.000000
Event     0.000000
Medal     0.000000
dtype: float64

In [12]:
data.groupby(['Medal', 'Sex']).mean().astype(np.int)

           Age  Height  Weight  Year
Medal Sex
0     F     23     167      59  1992
      M     26     178      75  1974
1     F     24     170      63  1992
      M     26     181      79  1966

In [13]:
# Fill null values with mean values for these columns
for column in ['Age', 'Height', 'Weight']:
    data[column] = data.groupby(['Medal', 'Sex'])[column].apply(lambda x: x.fillna(x.mean()).astype(np.int))

In [14]:
print("Total missing values:", data.isna().sum().sum())

Total missing values: 0

In [15]:
data

       Sex  Age  ...                                     Event  Medal
0        M   24  ...               Basketball Men's Basketball      0
1        M   23  ...              Judo Men's Extra-Lightweight      0
2        M   24  ...                   Football Men's Football      0
3        M   34  ...               Tug-Of-War Men's Tug-Of-War      1
4        F   21  ...          Speed Skating Women's 500 metres      0
...     ..  ...  ...                                       ...    ...
271111   M   29  ...                Luge Mixed (Men)'s Doubles      0
271112   M   27  ...  Ski Jumping Men's Large Hill, Individual      0
271113   M   27  ...        Ski Jumping Men's Large Hill, Team      0
271114   M   30  ...                      Bobsleigh Men's Four      0
271115   M   34  ...                      Bobsleigh Men's Four      0

[271116 rows x 12 columns]

In [16]:
# Checking no of unique values in the column
{column: len(data[column].unique()) for column in data.select_dtypes('object').columns}

{'City': 42,
 'Event': 765,
 'NOC': 230,
 'Season': 2,
 'Sex': 2,
 'Sport': 66,
 'Team': 1184}

In [17]:
def binary_encode(df, columns, positive_values):
    df = df.copy()
    for column, positive_value in zip(columns, positive_values):
        df[column] = df[column].apply(lambda x: 1 if x == positive_value else 0)
    return df

def onehot_encode(df, columns, prefixes):
    df = df.copy()
    for column, prefix in zip(columns, prefixes):
        dummies = pd.get_dummies(df[column], prefix=prefix)
        df = pd.concat([df, dummies], axis=1)
        df = df.drop(column, axis=1)
    return df

In [18]:
data = binary_encode(
    data,
    columns=['Sex', 'Season'],
    positive_values=['M', 'Summer']
)

data = onehot_encode(
    data,
    columns=['Team', 'NOC', 'City', 'Sport', 'Event'],
    prefixes=['T', 'N', 'C', 'S', 'E']
)

In [19]:
data

        Sex  ...  E_Wrestling Women's Middleweight, Freestyle
0         1  ...                                            0
1         1  ...                                            0
2         1  ...                                            0
3         1  ...                                            0
4         0  ...                                            0
...     ...  ...                                          ...
271111    1  ...                                            0
271112    1  ...                                            0
271113    1  ...                                            0
271114    1  ...                                            0
271115    1  ...                                            0

[271116 rows x 2294 columns]

In [20]:
data.iloc[:, [1000,1400,1500,1800]]

        T_Stade Franais AC-2  ...  E_Cycling Men's Individual Time Trial
0                          0  ...                                      0
1                          0  ...                                      0
2                          0  ...                                      0
3                          0  ...                                      0
4                          0  ...                                      0
...                      ...  ...                                    ...
271111                     0  ...                                      0
271112                     0  ...                                      0
271113                     0  ...                                      0
271114                     0  ...                                      0
271115                     0  ...                                      0

[271116 rows x 4 columns]

In [21]:
# Spilt data in target column and features columns
y = data['Medal']
X = data.drop('Medal', axis=1)

## Feature Selection

In [22]:
#Apply SelectKBest and extract top 10 features
best=SelectKBest(score_func=chi2, k=10)

In [23]:
fit=best.fit(X,y)

In [24]:
data_scores=pd.DataFrame(fit.scores_)
data_columns=pd.DataFrame(X.columns)

In [25]:
#Join the two dataframes
scores=pd.concat([data_columns,data_scores],axis=1)
scores.columns=['Feature','Score']
print(scores.nlargest(11,'Score'))

                  Feature        Score
3                  Weight  6918.210040
1404                N_URS  3912.466445
982        T_Soviet Union  3875.363234
1406                N_USA  3490.799425
1101      T_United States  3025.609256
2                  Height  1475.570949
1505             S_Rowing  1457.130819
1266                N_GDR  1149.074852
307        T_East Germany  1012.719371
1506              S_Rugby   942.009049
1988  E_Rugby Men's Rugby   942.009049

In [26]:
#Select 10 features
features=scores["Feature"].tolist()[:10]
features

['Sex',
 'Age',
 'Height',
 'Weight',
 'Year',
 'Season',
 'T_30. Februar',
 'T_A North American Team',
 'T_Acipactli',
 'T_Acturus']

## Make new dataset with cleaned data

In [27]:
data=data[['Age','Sex','Height','Weight','Year','Season','T_30. Februar','T_A North American Team','T_Acipactli','T_Acturus','Medal']]
data.head()

   Age  Sex  Height  ...  T_Acipactli  T_Acturus  Medal
0   24    1     180  ...            0          0      0
1   23    1     170  ...            0          0      0
2   24    1     178  ...            0          0      0
3   34    1     181  ...            0          0      1
4   21    0     185  ...            0          0      0

[5 rows x 11 columns]

In [28]:
y = data['Medal']
X = data.drop(['Medal'], axis=1)

#Split data into training and testing data
train_x, test_x, train_y, test_y = train_test_split(X, y, test_size=0.4, random_state=1)

## Feature Scaling

In [29]:
# Scaling data 
scaler = MinMaxScaler()
train_x = scaler.fit_transform(train_x)
test_x = scaler.transform(test_x)

## Predictive Modeling

In [30]:
m1 = 'LogisticRegression'
lr = LogisticRegression(random_state=1, max_iter=1000)
lr.fit(train_x, train_y)
lr_predict = lr.predict(test_x)
lr_conf_matrix = confusion_matrix(test_y, lr_predict)
lr_acc_score = accuracy_score(test_y, lr_predict)
print("confusion matrix")
print(lr_conf_matrix)
print("\n")
print("Accuracy of Logistic Regression:",lr_acc_score*100,'\n')
print(classification_report(test_y,lr_predict))

confusion matrix
[[92551    26]
 [15853    17]]


Accuracy of Logistic Regression: 85.35782455946223

              precision    recall  f1-score   support

           0       0.85      1.00      0.92     92577
           1       0.40      0.00      0.00     15870

    accuracy                           0.85    108447
   macro avg       0.62      0.50      0.46    108447
weighted avg       0.79      0.85      0.79    108447

In [31]:
m2 = 'MultinomialNB'
nv = MultinomialNB()
nv.fit(train_x, train_y)
nv_predict = nv.predict(test_x)
nv_conf_matrix = confusion_matrix(test_y, nv_predict)
nv_acc_score = accuracy_score(test_y, nv_predict)
print("confusion matrix")
print(nv_conf_matrix)
print("\n")
print("Accuracy of Logistic Regression:",nv_acc_score*100,'\n')
print(classification_report(test_y,nv_predict))

confusion matrix
[[92577     0]
 [15868     2]]


Accuracy of Logistic Regression: 85.36796776305476

              precision    recall  f1-score   support

           0       0.85      1.00      0.92     92577
           1       1.00      0.00      0.00     15870

    accuracy                           0.85    108447
   macro avg       0.93      0.50      0.46    108447
weighted avg       0.88      0.85      0.79    108447

In [32]:
m3 = 'DecisionTreeClassifier'
dt = DecisionTreeClassifier(criterion = 'entropy',random_state=0,max_depth = 30)
dt.fit(train_x,train_y)
dt_predicted = dt.predict(test_x)
dt_conf_matrix = confusion_matrix(test_y, dt_predicted)
dt_acc_score = accuracy_score(test_y, dt_predicted)
print("confusion matrix")
print(dt_conf_matrix)
print("\n")
print("Accuracy of DecisionTreeClassifier:",dt_acc_score*100,'\n')
print(classification_report(test_y,dt_predicted))

confusion matrix
[[84732  7845]
 [ 9403  6467]]


Accuracy of DecisionTreeClassifier: 84.09545676689996

              precision    recall  f1-score   support

           0       0.90      0.92      0.91     92577
           1       0.45      0.41      0.43     15870

    accuracy                           0.84    108447
   macro avg       0.68      0.66      0.67    108447
weighted avg       0.83      0.84      0.84    108447

In [33]:
m4 = 'Random Forest Classfier'
rf = RandomForestClassifier(n_estimators=200, random_state=0,max_depth=12)
rf.fit(train_x,train_y)
rf_predicted = rf.predict(test_x)
rf_conf_matrix = confusion_matrix(test_y, rf_predicted)
rf_acc_score = accuracy_score(test_y, rf_predicted)
print("confusion matrix")
print(rf_conf_matrix)
print("\n")
print("Accuracy of Random Forest:",rf_acc_score*100,'\n')
print(classification_report(test_y,rf_predicted))

confusion matrix
[[92441   136]
 [12032  3838]]


Accuracy of Random Forest: 88.77977260781765

              precision    recall  f1-score   support

           0       0.88      1.00      0.94     92577
           1       0.97      0.24      0.39     15870

    accuracy                           0.89    108447
   macro avg       0.93      0.62      0.66    108447
weighted avg       0.90      0.89      0.86    108447

In [34]:
m5 = 'Gradient Boosting Classifier'
gvc =  GradientBoostingClassifier()
gvc.fit(train_x,train_y)
gvc_predicted = gvc.predict(test_x)
gvc_conf_matrix = confusion_matrix(test_y, gvc_predicted)
gvc_acc_score = accuracy_score(test_y, gvc_predicted)
print("confusion matrix")
print(gvc_conf_matrix)
print("\n")
print("Accuracy of Gradient Boosting Classifier:",gvc_acc_score*100,'\n')
print(classification_report(test_y,gvc_predicted))

confusion matrix
[[92466   111]
 [12345  3525]]


Accuracy of Gradient Boosting Classifier: 88.51420509557664

              precision    recall  f1-score   support

           0       0.88      1.00      0.94     92577
           1       0.97      0.22      0.36     15870

    accuracy                           0.89    108447
   macro avg       0.93      0.61      0.65    108447
weighted avg       0.89      0.89      0.85    108447

In [35]:
m6 = 'Neural Network'
inputs = tf.keras.Input(shape=(X.shape[1]))
x = tf.keras.layers.Dense(64, activation='relu')(inputs)
x = tf.keras.layers.Dense(64, activation='relu')(x)
outputs = tf.keras.layers.Dense(1, activation='sigmoid')(x)

model = tf.keras.Model(inputs, outputs)


model.compile(
    optimizer='adam',
    loss='binary_crossentropy',
    metrics=[
        'accuracy',
        tf.keras.metrics.AUC(name='auc')
    ]
)


history = model.fit(
    train_x,
    train_y,
    validation_split=0.2,
    batch_size=32,
    epochs=100,
    callbacks=[
        tf.keras.callbacks.EarlyStopping(
            monitor='val_loss',
            patience=3,
            restore_best_weights=True
        )
    ]
)

Epoch 1/100
4067/4067 [==============================] - 9s 2ms/step - loss: 0.4083 - accuracy: 0.8525 - auc: 0.6103 - val_loss: 0.3961 - val_accuracy: 0.8550 - val_auc: 0.6478
Epoch 2/100
4067/4067 [==============================] - 7s 2ms/step - loss: 0.3979 - accuracy: 0.8529 - auc: 0.6448 - val_loss: 0.3825 - val_accuracy: 0.8566 - val_auc: 0.6758
Epoch 3/100
4067/4067 [==============================] - 8s 2ms/step - loss: 0.3779 - accuracy: 0.8639 - auc: 0.6918 - val_loss: 0.3626 - val_accuracy: 0.8727 - val_auc: 0.7082
Epoch 4/100
4067/4067 [==============================] - 7s 2ms/step - loss: 0.3626 - accuracy: 0.8714 - auc: 0.7204 - val_loss: 0.3558 - val_accuracy: 0.8728 - val_auc: 0.7333
Epoch 5/100
4067/4067 [==============================] - 7s 2ms/step - loss: 0.3573 - accuracy: 0.8729 - auc: 0.7285 - val_loss: 0.3527 - val_accuracy: 0.8750 - val_auc: 0.7396
Epoch 6/100
4067/4067 [==============================] - 7s 2ms/step - loss: 0.3543 - accuracy: 0.8740 - auc: 0.7328 - val_loss: 0.3480 - val_accuracy: 0.8763 - val_auc: 0.7459
Epoch 7/100
4067/4067 [==============================] - 8s 2ms/step - loss: 0.3517 - accuracy: 0.8748 - auc: 0.7360 - val_loss: 0.3462 - val_accuracy: 0.8762 - val_auc: 0.7462
Epoch 8/100
4067/4067 [==============================] - 7s 2ms/step - loss: 0.3491 - accuracy: 0.8754 - auc: 0.7406 - val_loss: 0.3475 - val_accuracy: 0.8762 - val_auc: 0.7483
Epoch 9/100
4067/4067 [==============================] - 8s 2ms/step - loss: 0.3477 - accuracy: 0.8759 - auc: 0.7433 - val_loss: 0.3428 - val_accuracy: 0.8765 - val_auc: 0.7521
Epoch 10/100
4067/4067 [==============================] - 7s 2ms/step - loss: 0.3457 - accuracy: 0.8773 - auc: 0.7450 - val_loss: 0.3401 - val_accuracy: 0.8789 - val_auc: 0.7523
Epoch 11/100
4067/4067 [==============================] - 8s 2ms/step - loss: 0.3441 - accuracy: 0.8779 - auc: 0.7474 - val_loss: 0.3433 - val_accuracy: 0.8771 - val_auc: 0.7509
Epoch 12/100
4067/4067 [==============================] - 8s 2ms/step - loss: 0.3438 - accuracy: 0.8772 - auc: 0.7495 - val_loss: 0.3436 - val_accuracy: 0.8771 - val_auc: 0.7568
Epoch 13/100
4067/4067 [==============================] - 8s 2ms/step - loss: 0.3426 - accuracy: 0.8777 - auc: 0.7519 - val_loss: 0.3480 - val_accuracy: 0.8745 - val_auc: 0.7589

In [36]:
model.evaluate(test_x, test_y)

3389/3389 [==============================] - 4s 1ms/step - loss: 0.3399 - accuracy: 0.8790 - auc: 0.7560

[0.3399001955986023, 0.8790469169616699, 0.756024181842804]

In [37]:
y_true = np.array(test_y)
y_pred = np.squeeze(np.array(model.predict(test_x) >= 0.5, dtype=np.int))

In [38]:
nn_conf_matrix = confusion_matrix(y_true, y_pred)
nn_acc_score = accuracy_score(y_true, y_pred)
print("confusion matrix")
print(gvc_conf_matrix)
print("\n")
print("Accuracy of Neural Network:",nn_acc_score*100,'\n')
print(classification_report(y_true, y_pred))

confusion matrix
[[92466   111]
 [12345  3525]]


Accuracy of Neural Network: 87.90469077060685

              precision    recall  f1-score   support

           0       0.88      0.99      0.93     92577
           1       0.86      0.21      0.34     15870

    accuracy                           0.88    108447
   macro avg       0.87      0.60      0.63    108447
weighted avg       0.88      0.88      0.85    108447

## Model Evaluation

In [39]:
model_ev = pd.DataFrame({'Model': ['Logistic Regression','MultinomialNB','Decision Tree','Random Forest',
                                  'Gradient Boosting','Neural Network'], 
                         'Accuracy': [lr_acc_score*100, nv_acc_score*100, dt_acc_score*100, rf_acc_score*100,gvc_acc_score*100,
                                      nn_acc_score*100]})
model_ev

                 Model   Accuracy
0  Logistic Regression  85.357825
1        MultinomialNB  85.367968
2        Decision Tree  84.095457
3        Random Forest  88.779773
4    Gradient Boosting  88.514205
5       Neural Network  87.904691

## Final Random Forest Classifier Model

In [40]:
model = RandomForestClassifier(n_estimators=200, random_state=0,max_depth=12)
model.fit(train_x,train_y)
predicted = model.predict(test_x)
accuracy = accuracy_score(test_y, rf_predicted)
print("Accuracy of Random Forest:",accuracy*100,'\n')

Accuracy of Random Forest: 88.77977260781765

## Conclusion
Random Forest Classifier Model performs best among all models